# Node / Yarn
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# React Native bundler
metro-cache/
.expo/
.expo-shared/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
android/gradlew
android/gradlew.bat
android/gradle/
*.keystore
*.jks

# iOS
build/generated/ios
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Xcode & macOS noise
xcuserdata/
*.xcuserstate
.DS_Store

# Misc
.env
*.log
*.tmp
*.orig
